@import url('./styles/ResidentInfo.css');
@import url('./styles/Location.css');
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --Typography-button: #FBFBFB;
  --Box-background-color: #808080;
  --Placeholder-text:  #329f5c ;
  --Element-medium: #62ef6b;
  --Defaul-background: #000000;
} 
.header-img {
  background-image: url('./assets/background-header.png');
}
.logo-header {
 width: 100%;
}
.section-characters { 
  background-image: url('./assets/background-page.png');
}
.div-characters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}
.button-search input {
 width: 645px;
height: 60px;
background-color: var(--Defaul-background);
border: 2px solid var(--Element-medium);
color: white;
text-align: center;
}
.button-search button {
  width: 215px;
  height: 60px;
  font-family: 'Fira Code', monospace;
  font-size: 20px medium;
  background-color: var(--Placeholder-text);
  color: var(--Typography-button);
  border: 2px solid var(--Element-medium);
  position: relative;
}
.hover-button:hover {
  background-color: var(--Element-medium);
  color: var(--Defaul-background);
  cursor: pointer;
}
.button-search button .bx {
    position: absolute;
    right: 57px;
    top: 21px;
}
#inputId::placeholder {
  text-align: center;
  font-family: 'Fira Code', monospace;
}
.information-general {
  color: aliceblue;
  width: 90%;
  height: 120px;
  border: 1px solid rgb(18, 18, 171);
  background-color: #062226;
  font-family: 'Fira Code', monospace;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.welcome {
  font-family: 'Fira Code', monospace;
  color: var(--Element-medium);
}
.render-characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.paginated {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 30px;
}
.paginated button {
  font-size: 2rem;
  width: 60px;
  color: #FBFBFB;
  background-color: #329f5c00;
  border-style: none;
}
.button-prev-next {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-prev-next:hover {
  background-color: var(--Placeholder-text);
  cursor: pointer;
}
.button-pages:hover {
  background-color: var(--Placeholder-text);
  cursor: pointer;
}
 @media screen and (max-width: 768px) {
  .paginated {
    width: 80%;
  }
  .information-general {
   padding: 10px;
  }
  #inputId {
    width: 400px;
  }
 }
 @media screen and (max-width: 425px) {
   .residentInfo {
      width: 90%;
   }
   .residentInfo img {
    width: 100%;
   }
   .info-aditional {
    font-size: 15px;
   }
   .paginated {
    width: 80%;
  }
  .information-general {
    flex-direction: column;
    width: 70%;
    height: 400px;
    gap: 10px;
  }
  #inputId {
    width: 250px;
  }
  .button-search button {
   font-size: 0;
   width: 80px;
   bottom: 4px;
  }
  .button-search button .bx {
    top: 20px;
    left: 30px;
  }
  .welcome {
    text-align: center;
  }
  .paginated {
    justify-content: center;
   
  }
  .paginated button {
    font-size: 1.5rem;
  }
  .residentInfo .status {
    left: 120px;
  }
  .span-origin {
   font-size: 0.7rem;
  }
  #inputId::placeholder  {
    font-size: 0.7rem;
  }
 }
 @media screen and (max-width: 375px) {
  .residentInfo .status {
    left: 90px;
  }
  .info-aditional {
    font-size: 12px;
   }
 }
 